.custom-ui-panel {
    -fx-background-color: #FFFFFF;
    -fx-padding: 20px;
}

.button {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;

}
#login-label {
    -fx-font-family: "Inter";
    -fx-font-size: 40px;
    -fx-text-fill: #000000;
    -fx-text-alignment: center;
}